.button {
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.variant-primary {
    background-color: #ccc;
    color: #000;
}

.variant-secondary {
    background-color: var(--color-brand-slate-blue);
    color: #fff;
}

.variant-tertiary {
    background-color: blue;
    color: #fff;
}